img.logo {
  width: 50%;
  border-radius: 50%;
  margin-left: 110px;
}
#forgotbtn{
  float: right;
}
#sect1 {
  /* background-image: url('/assets/pexels.jpg'); */
  background-color: #063557; 
}
.container{
  padding:10px;
}
.card{
  background-color: #e3f2fd;
}